# Node.js
node_modules/

# Package manager lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Project
*.log
dist/
typedoc/